body {
	font-weight: normal;
	font-style: normal;
	text-shadow: 0px 0px;
	margin-top: 67px;
	margin-left: 5%;
	background-color: #334342;
	color: #b1c4c3;
	text-align: left;
	font-size: 15px;
	font-family: "et-book", Helvetica, sans-serif;
}

a:link {color: #b1c4c3; text-decoration: none}
a:visited {color: #b1c4c3; text-decoration: none}
a:active {color: #b1c4c3; text-decoration: none}
a:hover {font-weight: bold; color: #d3dddd;}

p {
	color: #85a2a0;
	font-size: 15px;
}

li {
	list-style: none;
	line-height: 1.5em;
}

