body {
	font-weight: 400;
	font-style: normal;
	text-shadow: 0px 0px;
	margin-top: 67px;
	margin-left: 5%;
	background-color: #334342;
	color: #b1c4c3;
	text-align: left;
  box-sizing: border-box;
	font-size: 1em;
	font-family: "Lato", "Fira Sans", "et-book", Helvetica, sans-serif;
  line-height: 1.4;
  width: 48em;
  margin: 4em auto;
  max-width: 100%;
  padding-left: 1em;
  padding-right: 1em
}

a:link {color: #b1c4c3; text-decoration: underline}
a:visited {color: #b1c4c3; font-weight: italic}
a:active {color: #b1c4c3; text-decoration: none}
a:hover {color: #d3dddd;}

p {
	color: #85a2a0;
	font-size: 1em;
}

li {
	list-style: none;
	line-height: 1.5em;
}

.descriptor, a.descriptor {
	font-weight: 400;
	color: #85a2a0;
	font-size: 1em;
}

.category {
	font-weight: 400;
	font-style: italic;
}

h1 {
	font-weight: 300;
  line-height: 1.2;
  font-size: 3.2em;
  margin-top: 2em;
  margin-bottom: .5em
}

h2 {
  font-weight: 400;
  font-style: italic;
  font-size: 1.5em;
}

* {
  margin: 0
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@media (max-width: 786px) {
  html {
    font-size: 1em
  }

  body {
    margin: 2em auto
  }
}

@media (min-width: 786px) {
	hr {
		width: 40em;
		align: center;
	}
}

@media (max-width: 786px) {
}

p, ol, dl, ul, li {
  font-size: 18px;
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}
